<section class="movie-details">
  <div class="poster image">
    <%= image_tag @movie.image_file_name %>
  </div>

  <div class="details">
    <h1><%= @movie.title %></h1>
    <h2>
      <%= @movie.director %> &bull;
      <%= @movie.duration %> &bull;
      <%= year_of(@movie) %> &bull; <%= @movie.rating %>
    </h2>
    <p>
      <%= @movie.description %>
    </p>
    <table>
      <tr>
        <th>Total Gross:</th>
        <td><%= total_gross(@movie) %></td>
      </tr>
    </table>

    <% if user_signed_in? %>
      <section class="admin">
        <%= link_to "Edit", edit_movie_path, class: "button" %>
        <%= link_to "Delete", @movie, class: "button", method: :delete %>
      </section>
    <% end %>
  </div>
</section>